{% extends 'core/base.html' %}

{% load static %}

{% block title %}Eventos{% endblock %}

{% block content %}

{% block styles %}
    <!-- Agrega estilos adicionales específicos de la página -->
    <link rel="stylesheet" href="{% static 'core/css/events.css' %}" />
{% endblock %}

<body>
    <!--HEADER-->
    <header class="header white">
        <div class="container vh-50">
            <!--Description-->
            <div class="row  h-100 align-items-end">
                <div class="col-md-10 col-lg-6 text-white">
                    <!--Title-->
                    <h1 class="text-capitalize">
                        <span class="text-info h5">Ven a vivir tu </span> <br> aventura
                    </h1>
                    <!--Description-->
                    <p>
                        Explora la magia de los eventos en Curacautín. Desde festivales coloridos hasta experiencias culturales,
                         cada evento es una ventana a la vida y la celebración en este lugar único. Descubre la emoción que hay detrás de cada ocasión.
                         ¡Tu próxima experiencia inolvidable te espera!
                    </p>
                </div>
            </div>
        </div>
        <img src="./img/cuts/cut-header.svg" alt="">
    </header>

    <!--SECTION ONE CARDS EVENTS-->
    <section class="container">

        <div class="row">
            <!--Title-->
            <div class="col-12 text-center">
                <h3 class="text-info">Actividades</h3>
            </div>
        </div>
        <!--Paragraph-->
        <div class="row">
            <div class="col-12 text-center">
                <p class="text-muted">Explora lo que está por venir: descubre los próximos eventos que harán vibrar a Curacautín. ¡Prepárate para sumergirte en experiencias únicas y momentos memorables!</p>
            </div>
        </div>
        <!--accomodations cards-->
        <div class="row mb-5 mt-3  justify-content-center justify-content-lg-between ">
            <!--card 1-->
            <article class="card shadow my-1" style="width: 16rem;">
                <div class="box-card-img">
                    <img src="{% static 'core/img/events/img1.jpg'%}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Kayak</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-info">Go somewhere</a>
                </div>
            </article>
            <!--card 2-->
            <article class="card shadow my-1" style="width: 16rem;">
                <div class="box-card-img">
                    <img src="{% static 'core/img/events/img2.jpg'%}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Downhill</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-info">Go somewhere</a>
                </div>
            </article>
            <!--card 3-->
            <article class="card shadow my-1" style="width: 16rem;">
                <div class="box-card-img">
                    <img src="{% static 'core/img/events/img3.jpg'%}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Titulo</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-info">Go somewhere</a>
                </div>
            </article>
            <!--card 4-->
            <article class="card shadow my-1" style="width: 16rem;">
                <div class="box-card-img">
                    <img src="{% static 'core/img/events/img4.jpg'%}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Cabalgatas</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-info">Go somewhere</a>
                </div>
            </article>
        </div>

        <!--Accordions-->
        <div class="row">

        </div>
    </section>
    {% endblock %}

</body>

</html>